/*
    Document   : login
    Created on : Jul 25, 2011, 10:42:50 PM
    Author     : Steven Burgart
    Email      : skburgart@gmail.com
*/

#login {
    width: 250px;
    display: none;
    padding: 15px;
    background: #93CCEA;
    border: 3px solid cornflowerblue;
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    position: absolute;
    top: 21px;
    left: -2px;
}

#login a {
    color: darkblue;
}

#login input.login {
    margin-bottom: 10px;
    border: 1px solid cornflowerblue;
    height: 25px;
    width: 100%;
    text-indent: 5px;
    font-size: 1.2em;
}
