/*
    Document   : style
    Created on : Jul 13, 2011, 9:42:55 PM
    Author     : Steven Burgart
*/

root {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgrey;
    font-family: 'Muli', sans-serif;
}

#header {
    color: dodgerblue;
    background: #111;
    border-bottom: 3px solid cornflowerblue;
}

#header h1 {
    padding: 0px 25px;
    font-family: 'Bowlby One SC', sans-serif;
    font-weight: normal;
}

#header ul {
    padding-left: 30px;
}

#header ul li {
    font-weight: bold;
    background: #93CCEA;
    display: inline;
    position: relative;
    border: 2px solid cornflowerblue;
    padding: 1px 15px;
    margin-right: 10px;
}

#header ul li:hover {
    color: white;
    background: cornflowerblue;
    cursor: pointer;
}

#login {
    width: 250px;
    display: none;
    padding: 15px;
    background: #93CCEA;
    border: 3px solid cornflowerblue;
    border-radius: 0 0 15px 15px;
    position: absolute;
    top: 21px;
    left: -2px;
}

#login input.text {
    margin-bottom: 10px;
    border: 1px solid cornflowerblue;
    height: 25px;
    width: 100%;
    text-indent: 5px;
    font-size: 1.2em;
}

#login input#submit {
    padding: 8px;
    font-size: 1.1em;
}

#login-msg {
    display: none;
    color: black;
    background: pink;
    border: 2px solid darkred;
    padding: 5px;
    margin-bottom: 10px;
}

#content {
    margin: 10px 10px 0;
    padding: 10px;
    border: 1px solid grey;
    background: #EEE;
}

#content p {
    text-indent: 20px;
    padding: 5px 10px;
}

#footer {
    color: dodgerblue;
    font-size: 0.7em;
    float: right;
    margin-top: 5px;
    padding-right: 10px;
}

#footer a {
    color: dodgerblue;
    font-weight: bold;
    text-decoration: none;
}

#footer a:hover {
    color: #3EB0FF;
}